<div id="nav-user-info">
  &nbsp;&nbsp;&nbsp;
  <span class="user"><b><%#=link_to current_user.login, "/users/#{current_user.id}" %></b></span>
  <span class="category"><i>CategTBD(<%#= h session.to_s %>)</i></span>
	<%#= h current_user.id  %>
</div>
